body {
    background: salmon;
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    padding: 20px;
    font-size: 24px;
    z-index: 2;
}

input::-webkit-input-placeholder {
    color: #fff;
    transition: color 0.4s ease;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.bg {
    height: 0%;
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: 0;
    z-index: -2;
    transition: height 0.7s cubic-bezier(0.76, -0.76, 0.25, 1.26);
}

input:focus + .bg {
    height: 100%;
}
