@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');

body {
  margin: 0;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #131313;
}

.input-group {
  position: relative;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.input-group label {
  padding: 0 10px;
  background-color: #131313;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  text-transform: capitalize;
  pointer-events: none;
  font-size: 20px;
  transition: all 0.3s;
}

.input-group input {
  padding: 18px 15px;
  width: 300px;
  border: 3px solid #fff;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  background-color: transparent;
  border-radius: 10px;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 16px;
}

.input-group input:placeholder-shown + label {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.input-group input:focus + label {
  opacity: 1;
}
